body {
    background-color: #fafafa;
  }
  .main_body {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    left: 20px;
  }
  .feed {
    width: 600px;
    height: auto;    
    border: 1px solid #dbdbdb;
    border-radius: 3px;
  }
  .feed_id {
    position: relative;
    display: flex;
    justify-content: center;
    height: 60px;
    font-size: xx-large;
    font-family: 'Lobster', cursive;
  }
  .feed_picture {
    width: 598px;
    height: 598px;
  }
  .feed_picture img {
    width: 598px;
    height: 598px;
    object-fit: cover;
  }
  .emoticon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 0px;
  }
  .emoticon2 {
    display: flex;
  }
  .emoticon2 div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    margin: 0px;
  }
  .emoticon2 img {
    width: 24px;
    height: 24px;
  }
  .comment{
    display: flex;
    font-weight: bold;
    margin: 1%;
  }
  .context{
    text-align: left;
    margin: 1%;
  }
  .btn {
    border: none;
    background-color: white;
  }
  /*  */
