@charset "utf-8";

* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
body {
    background-image: url(../img/background_cat.jpg);
}
.header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 100px;
    position: relative;
} 
.header .category {
    width: 24%;
    height: 50px;
    padding-top: 10px;
    text-align: center;
    border: 2px solid black;
    background-color: slategrey;
    color: wheat;
}
.header .category:hover {
    background-color: pink;
    color: black;
}

#carouselExampleControls {
    max-width: 450px;
    height: 450px;
    border: 3px solid black;
    overflow: hidden;
}
#carouselExampleControls .carousel-inner {
    width: 100%;
    height: 450px;
    
}
#carouselExampleControls .carousel-inner .carousel-item {
    height: 100%;
}
#carouselExampleControls .carousel-inner .carousel-item .cat-title {
    margin: 0;
    padding-top: 6px;
    height: 10%;
    text-align: center;
    font-size: 30px;
    background-color: wheat;
}
#carouselExampleControls .carousel-inner .carousel-item img {
    width: 80%;
    height: 90%;
    
}

/* ---------------------------------------------------- */
.cat-container {
    scroll-behavior: smooth;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 3px solid black;
    background-color: wheat;
}

.cat-container ul {
    padding: 10px;
}

.cat-container ul li {
    list-style: none;
    margin: 10px 10px;
}

.cat-container ul li:nth-child(2n-1) {
    background-color: burlywood;
}

.cat-container ul li:nth-child(2n) {
    background-color: blanchedalmond;
}

.cat-container ul li p {
    padding: 30px 20px;
}